body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

main{
    padding: 25px 0;
}

.unique-list{
    margin-bottom: 10px; 
}

footer{
    background-color: lightslategray;
}

footer .row{
    padding: 50px 0;
}

img{
max-width: 25%;
height: 25%;
justify-content: center;
padding: 10px 0px 10px 0px;
}

.char_info{
    padding: 10px 0px 10px 0px;
}

.save_button{
    margin: 5px 0px 5px 0px;
}

.home_text{
    text-align: center;
}

.form-container {
            text-align: center;
            margin-top: 20px;
        }

.button-container {
            margin-top: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }