{% extends 'layout.html' %} {% block content %}
<div class="home_text">
<h1>Welcome to the Marvel Superheroes database.</h1>
<h2>Search for the character of your choice.</h2>
<h3>Login or register to save a character to your list.</h3>
</div>
{% for char in chars %}
<div style="text-align: center">
  <img src="{{ char.thumbnail }}" alt="char_img" />
</div>
<h3><u>{{ char.name.title() }}</u></h3>
<h2>{{ char.id }}</h2>
<h2>{{ char.description }}</h2>
<h2>{{ char.comics }}</h2>

{% endfor %} {% endblock %}
