{% extends 'layout.html' %} {% block content %}
<a href="{{ url_for('homepage') }}">Back</a>
<hr/>
<body>
  <div class="form-container">
      <form method="POST">
        <input type="text" name="query" placeholder="Browse Marvel characters" />
        <div>
          <button type="submit">Search</button>
          <a href="{{ url_for('savelist') }}" type="text" name="query" class="btn-sm btn-info save_button" id=save_btn type="submit" >Save Character</a>
        </div>
    </form>
  </div>  
  <!-- <div>
    <form method="POST">
      <input type="text" name="save_char" placeholder="Enter character name you want to save">
      <a href="{{ url_for('savelist') }}" class="btn-sm btn-primary save_button" type="submit" >Save Character</a>
    </form>
  </div>
</body> -->
<hr/>
{% if character.data %}
<div style="text-align: center">
  <img
    src="{{ character.data.results[0].thumbnail.get('path')+'.jpg' }}"
    alt="Marvel Character"
  />
</div>
<div class="char_info" style="text-align: center">
  <ul>
    {{ character.data.results[0]['name'] }}
  </ul>
  <ul>
    {{ character.data.results[0]['id'] }}
  </ul>
  <ul>
    {{ character.data.results[0]['description'] }}
  </ul>
  <ul>
    {% for comic in comic_list %}
    <strong><i>&nbsp;{{ comic }}&nbsp;</i></strong>
    {% endfor %}
  </ul>
</div>
{% endif %} {% endblock %}
